<div class="p-6 flex flex-col justify-between wrap-anywhere">
  <div class="block mt-4 overflow-hidden text-gray-700 bg-white bg-clip-border rounded-xl h-64">
    <img src="{{ product.image }}" alt="image de {{ product.title }}"
      class="w-full aspect-square h-8/12 object-contain" />
  </div>

  <p class="font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900 mb-2">
    {{ product.title}}
  </p>
  <p class="mb-8  font-sans text-sm antialiased font-normal leading-normal text-gray-700 opacity-75">
    {{ product.description}}
  </p>

  <p class="absolute font-sans text-base antialiased font-medium leading-relaxed text-blue-gray-900 right-0 bottom-0 p-5">
    {{ product.price | currency: '$' }}
  </p>
</div>