<section id="ubicaciones" class="section-container">
    <h2 class="section-title">Nuestras Ubicaciones</h2>
    
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        @for (location of locations; track $index) {
            <div
          class="bg-white rounded-lg overflow-hidden shadow-md card-hover"
        >
          <div class="h-48 overflow-hidden">
            <img 
              src={{location.image}} 
              alt={{location.name}} 
              class="w-full h-full object-cover"
            />
          </div>
          <div class="p-6">
            <h3 class="text-xl font-medium mb-4 text-pharmacy-dark">{{location.name}}</h3>
            
            <div class="space-y-3">
              <div class="flex">
                <span>icono dirección</span>
                <span>{{location.address}}</span>
              </div>
              
              <div class="flex">
                <span>icono teléfono</span>
                <span>{{location.phone}}</span>
              </div>
              
              <div class="flex">
                <span>icono reloj</span>
                <span>{{location.hours}}</span>
              </div>
            </div>
          </div>
        </div>
        }
    </div>
</section>
